.bl_card_title {
  display: flex;
  justify-content: center;
  width: 100%;
}

$title-height: 30px;

.el_title_view {
  margin: 0 5px;
  width: 100%;
  height: $title-height;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
}

.el_title_input {
  display: flex;
  justify-content: center;
  width: 100%;
  height: $title-height;
  padding: 0;
  margin: 0 5px;

  input[type="text"] {
    border: none;
    margin: 0;
    width: 90%;
    height: $title-height;
    font-size: 1.1rem;
    border-radius: 1px;
    outline: none;
  }
}