@use "../../styles/utility.scss" as util;

$task-height: 40px;

.bl_task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $task-height;
  background-color: rgb(100 240 225);
  box-shadow: 1px 1px 3px gray;
  border-radius: 3%;
  margin-top: 8px;

  // first-child が効かない
}

.el_task_text {
  line-height: $task-height;
  padding-left: 10px;
}

.el_remove_btn {
  padding: 10px;
  filter: drop-shadow(2px 2px 2px gray);
  cursor: pointer;
}